<template name="product_drink">
  <td class="ir"> 
    <label class="lbr_100">Name:</label>
    <span class="mt_5"></span>
    <select class="name w_230"> 
      {{#each names}}
        {{> dropdown}}
      {{/each}}
    </select>
  <td class="ir"> 
    <label class="lbr_100">Size:</label>
    <span class="mt_5"></span>
    <select class="size w_100"> 
      {{#each sizes}}
        {{> size}}
      {{/each}}
    </select>
  </td>
  <td class="ir">
    <label class="lbr_100">Units:</label>
    <span class="mt_5"></span>
    <input class="unit irq"> 
    <span style='padding-left: 15px;'>
      <a class="destroy">
        <i class='icon-remove-sign'></i>
      </a>
    </span>
  </td>
</template>