<template name="product">
  <div style="margin-top: 10px;">
    <form>
        <table>
          <tr>
            <td class="vt">
              <label class="lbr_100">Product:</label>
              <select class="type w_100">
                {{#each types}}
                  {{> dropdown}}
                {{/each}}
              </select>
            </td>
            {{#if food}}
              {{> product_food}}
            {{/if}}
            {{#if drink}}
              {{> product_drink}}
            {{/if}}
          </tr>
          {{#if total}}
            {{> product_total}}
          {{/if}}
        </table>
    </form>
  </div>
</template>