body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

#header {
  padding-left: 150px; 
  font-size: 40px; 
  font-weight: bold; 
  font-family: Tahoma;
}

#logobak {
  background-image: url('../../coffee.png');
  background-repeat: none;
  height: 128px;
  width: 128px;
}

#home {
 height: 200px; 
 border: solid 1px black; 
 text-align: center; 
 padding-top: 100px; 
 font-weight: bold; 
 font-size: 16px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.fwb {
  font-weight: bold;
}

.tar {
  text-align: right;
}

.hip {
  text-align: right; 
  margin-top: 10px;
}

.conn {
  margin-top: 20px; 
  border: solid 1px green; 
  padding: 20px;
  border-radius: 15px; 
  vertical-align: top; 
  float: right;
}

.it {
  width: 75px; 
  height: 22px; 
  text-align: center;
}

.itx {
  width: 75px; 
  height: 22px; 
  text-align: center;
}

.itz {
  width: 100px; 
  height: 22px; 
  text-align: center;
}

.irq {
  width: 48px; 
  height: 22px; 
  text-align: center;
}

.ml_5 {
  margin-left: 5px;
}

.ml_10 {
  margin-left: 10px;
}

.iq {
  text-align: right; 
  margin-top: 5px; 
  text-align: right; 
  padding-top: 10px; 
  padding-right: 48px;
}

.comp {
  text-align: right; 
  margin-top: 5px; 
  text-align: left;
}

.cstd {
  padding-top: 8px; 
  padding-left: 10px;
}

.irt {
  padding-left: 15px; 
  vertical-align: top;
}

.qrt {
  width: 48px; 
  height: 22px; 
  text-align: center;
}

.vt {
  vertical-align: top;
}

.pl_15 {
  padding-left: 15px;
}

.ir {
   vertical-align: top; 
   padding-left: 20px; 
}

.products {
  margin-top: 20px; 
  border: solid 1px grey; 
  padding-top: 20px; 
  padding-right: 20px; 
  padding-left: 20px; 
  padding-bottom: 0px; 
  border-radius: 15px; 
  vertical-align: top;
}

.tac {
  text-align: center;
}

.w_100 {
  width: 100px;
}

.w_150 {
   width: 150px;
}

.w_180 {
  width: 180px;
}

.w_200 {
  width: 200px;
}

.w_230 {
   width: 230px;
}

.lbr_100 {
  width: 100px; 
  font-weight: bold; 
  margin-left: 2px;
}

.lbl_100 {
  width: 100px; 
  margin-top: 15px; 
  font-weight: bold;
}

.lbl_150 {
  width: 150px; 
  margin-top: 15px; 
  font-weight: bold;
}

.lbl_50 {
  width: 50px; 
  margin-top: 15px; 
  font-weight: bold;
}

.mt_5 {
  margin-top: 5px;
}

.mt_30 {
  margin-top: 30px;
}

.mt_20 {
  margin-top: 20px;
}

.mb_20 {
  margin-bottom: 20px;
}

.index table {
  width: 100%;
}

.index table thead tr th {
  text-align: center;
}

.index table tbody tr td {
  text-align: center; 
  vertical-align: middle;
}

#query.error {
    border: 1px solid #c87872;
}

#error-explanation ul {
    margin: 10px 15px;
}

a img {
    border: none;
}

a {
    color: #0000FF;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

#movie {
    margin: 20px auto;
}

#disclaimer {
    font-size: 10px;
    margin: 20px auto 0;
}

#container {
    width: 635px;
    background-color: #FFF;
    padding: 20px 40px;
    border: solid 1px black;
    border-radius: 15px; 
    margin-bottom: 25px; 
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#flash_notice, #flash_error, #flash_alert {
    padding: 5px 8px;
    margin: 10px 0;
}

#flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
}

#flash_error, #flash_alert {
    background-color: #FCC;
    border: solid 1px #C66;
}

h2 {
    margin-bottom: 20px;
}