<template name="orders_main">  
  <form name='form' class='form-horizontal'>
    <fieldset>
      <div data-bind="template: { name: 'item', data: order }"></div>
    </fieldset>
  </form>
  <script type="text/html" id="item">
    <label class='lbl_50'>Barista:</label>
    <div class='mt_5'></div>
    <select id='barista' data-bind='options: $parent.baristas, value: barista'></select>
    <label class='lbl_50'>Status:</label>
    <div class='mt_5'></div>
    <select id='status' data-bind='options: $parent.statuses, value: status'></select>
  </script>
</template>