<template name="orders_new">
  <h1>New Order</h1>
  <form name='form' class='form-horizontal'>
    <fieldset>
      <label class='lbl_50'>Barista:</label>
      <div class='mt_5'></div>
      <select name='barista' id='barista'>
        {{#each baristas}}
          {{> dropdown}}
        {{/each}}
      </select>
      <div class='mt_20'></div>
      <div id="create" class='btn btn-primary'>Create Order</div>
    </fieldset>
  </form>
  <div class="mt_30">
    <a id="back" href="javascript:{}">Back</a>
  </div>
</template>