<template name="drinks_edit">
  <h1>Edit Drink</h1>
  <form name='form' class='form-horizontal' role='form'>
    <fieldset>
      <div class="form-group">
        <label class='lbl_50'>Name:</label>
        <div class='mt_5'></div>
        <input id='name' data-bind='value: name'>
      </div>
      <div class="form-group">
        <label class='lbl_150'>Size:</label>
        <div class='mt_5'></div>
        <select id='size' data-bind="options: sizes, value: size"></select>
      </div>
      <div class="form-group">
        <label class='lbl_150'>Price:</label>
        <div class='mt_5'></div>
        <input id='price' data-bind='value: price'>
      </div>
      <div class="form-group">
        <div class='mt_20'></div>
        <div id="create" class='btn btn-primary' data-bind='click: submit'>Update Drink</div>
      </div>
    </fieldset>
  </form>
  <div class="mt_30">
    <a id="back" href="javascript:{}" data-bind='click: back'>Back</a>
  </div>
</template>