<template name="drinks_new">
  <h1>New Drink</h1>
  <form name='form' class='form-horizontal'>
    <fieldset>
      <label class='lbl_50'>Name:</label>
      <div class='mt_5'></div>
      <input id='name' data-bind='value: name'>
      <label class='lbl_150'>Size:</label>
      <div class='mt_5'></div>
      <select id='size' data-bind="options: sizes, value: size, optionsCaption: 'Choose...'"></select>
      <label class='lbl_150'>Price:</label>
      <div class='mt_5'></div>
      <input id='price' data-bind='value: price'>
      <div class='mt_20'></div>
      <div id="create" class='btn btn-primary' data-bind='click: submit'>New Drink</div>
    </fieldset>
  </form>
  <div class="mt_30">
    <a id="back" href="javascript:{}" data-bind='click: back'>Back</a>
  </div>
</template>