<template name="foods_new">
  <h1>New Food</h1>
  <form name='form' class='form-horizontal'>
    <fieldset>
      <label class='lbl_50'>Name:</label>
      <div class='mt_5'></div>
      <input name='name' id='name' data-bind='value: name' />
      <label class='lbl_150'>Price Per Gram:</label>
      <div class='mt_5'></div>
      <input name='pgram' id='pgram' data-bind='value: pgram' />
      <label class='lbl_150'>Base Price:</label>
      <div class='mt_5'></div>
      <input name='price' id='price' data-bind='value: price' />
      <div class='mt_20'></div>
      <div class='btn btn-primary' data-bind='click: submit'>Create Food</div>
    </fieldset>
  </form>
  <div class='mt_30'>
    <a href='javascript:{}' data-bind='click: back'>Back</a>
  </div>
</template>